/* font imported from google fonts */
body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(236, 233, 233);
}

:root {
    --blu:   #7777a1e5;
}

header {
    padding: 10px;
    background-color: white;
}



/* nav links */
.nav-link {
    color: var(--blu);
    font-size: 20px;
    margin: 40px 50px 0 20px;
}

.nav-link:hover {
    background-color: #a8a8c4;
    border-radius: 20%;
    color:white;
}



/* about */
#about {
    padding: 0 0 0 100px;
}

.intro {
    padding: 80px 80px 80px 150px;
}

.name {
    font-size: 40px;
    color: var(--blu);
    margin-bottom: 30px;
}

.img-mack {
    width: 50%;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 0 20px 20px rgb(195, 196, 216);
}



/* projects */
.work-topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
}

.work {
    border: solid var(--blu);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    height: 250px;
    width: 250px;
    margin: 20px;
}

.work h5 {
    text-align: center;
    background-color: #434357e5;
    color: white;
    
}

.work img {
    height: 250px;
    width: 250px;
    object-fit: cover; 
}

.work:hover {
    opacity: 1.0;
    box-shadow: 0 0 20px 20px rgb(195, 196, 216);
}



/* responsive */
@media screen and (max-width: 1500px) {
    .intro {
        padding: 40px 40px 40px 75px;
    }
}

@media screen and (max-width: 1000px) {
    #about {
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    .nav-link {
        margin: 40px 0 0 0;
        font-size: 20px;
    }

    #about {
        padding: 0;
    }
}
